@font-face {
  font-family: 'poppins';
  font-display: swap;
  src: url('./poppins.regular.ttf') format('ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'poppins';
  font-display: swap;
  src: url('./poppins.regular.ttf') format('ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'poppins';
  font-display: swap;
  src: url('./poppins.regular.ttf') format('ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'poppins';
  font-display: swap;
  src: url('./poppins.regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'poppins';
  font-display: swap;
  src: url('./poppins.medium.ttf') format('ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'poppins';
  font-display: swap;
  src: url('./poppins.medium.ttf') format('ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'poppins';
  font-display: swap;
  src: url('./poppins.medium.ttf') format('ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'poppins';
  font-display: swap;
  src: url('./poppins.semibold.ttf') format('ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'poppins';
  font-display: swap;
  src: url('./poppins.semibold.ttf') format('ttf');
  font-weight: 900;
}

:root {
  font-family: poppins, -apple-system, '.SFNSText-Regular', 'San Francisco', BlinkMacSystemFont,
    '.PingFang-SC-Regular', 'Microsoft YaHei', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}

body,
*,
*::before,
*::after {
  font-family: inherit;
}
